* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Gill Sans", sans-serif;
}

header {
  width: 100%;
  height: 126px;
  padding: 30px 80px;
  border-top: 11px solid black;
}
header .svg-1 {
  width: 45px;
  height: 45px;
  cursor: pointer;
}
header .nav1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: white;
}
header .nav1 .left {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: "start";
  gap: 15px;
}
header .nav1 .left h4 {
  cursor: pointer;
}
header .nav1 .right {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: 35px;
}
header .nav1 .right a {
  color: black;
  text-decoration-line: none;
}
header .nav1 .right a:hover {
  color: rgb(187, 187, 187);
  cursor: pointer;
  transition: 1s;
}
header .nav1 .right button {
  padding: 10px;
  color: black;
  background-color: #FFBF23;
  width: 100px;
  border-radius: 5px;
  border: solid black 3px;
  font-size: 13px;
}
header .nav1 .right button:hover {
  cursor: pointer;
  color: #FFBF23;
  background-color: black;
  transition: 1s;
}

.main1 {
  width: 100%;
  height: 647px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 150px;
}
.main1 .main1son1 {
  width: 586.5px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 50px;
}
.main1 .main1son1 h1 {
  font-weight: 400;
  font-size: 50px;
}
.main1 .main1son1 p {
  font-weight: 200;
  font-size: 20px;
}
.main1 .main1son1 button {
  padding: 10px;
  color: white;
  background-color: black;
  width: 100px;
  border-radius: 5px;
  font-size: 13px;
  border: none;
}
.main1 .main1son1 button:hover {
  cursor: pointer;
  color: black;
  background-color: #FFBF23;
  transition: 1s;
  border: 2px solid black;
}
.main1 .main1son1 .speed {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 60px;
}
.main1 .main1son1 .speed .speed1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: 10px;
}
.main1 .main1son1 .speed .speed1 p {
  font-size: 15px;
  font-weight: 100;
}
.main1 .main1son2 {
  width: 563px;
  height: 482px;
}

.main2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 40px;
  background-color: #FFBF23;
  width: 100%;
  height: 488px;
  margin-top: 100px;
}
.main2 .main2son2 {
  width: 574px;
  height: 274.22px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
.main2 .main2son2 p {
  line-height: 1.6;
  letter-spacing: 0.2px;
}
.main2 .main2son1 {
  width: 574px;
  height: 274.22px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
.main2 .main2son1 h1 {
  font-weight: 100;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0.5px;
}

.what {
  height: 357px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 30px;
  padding-left: 250px;
}
.what h1 {
  font-weight: 100;
  font-size: 45;
}
.what p {
  line-height: 1.4;
  letter-spacing: 0.2px;
}

.main3 {
  width: 100%;
  height: 666px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 100px;
}
.main3 .main3son {
  width: 267px;
  height: 666px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.main3 .main3son img {
  width: 226px;
  height: 298px;
  border: solid black 2.5px;
  border-radius: 3px;
}
.main3 .main3son h1 {
  font-weight: 700;
  font-size: 20px;
}
.main3 .main3son p {
  font-weight: 100;
  line-height: 1.4;
  letter-spacing: 0.2px;
}/*# sourceMappingURL=style.css.map */